html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  width: 50%;
  height: 100%;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.first-cell {
  background-color: #90ee90;
}

.second-cell {
  background-color: #ffdab9;
}

